version: '3.2'
services:

  mysql:
    image: mariadb
    container_name: test-mysql
    #volumes:
     #  - './data/db:/var/lib/mysql:delegated'
    environment:
      - MYSQL_ROOT_PASSWORD=test
      - MYSQL_DATABASE=test
    restart: always
    ports:
      - '3306:3306'

  wordpress:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test-wordpress
    #volumes:
     # - ./src:/var/www/html:rw,cached
     # - ./config/php.ini:/usr/local/etc/php/conf.d/php.ini
    depends_on:
      - mysql
    restart: always
